
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>

    <h2>Liste des événements</h2>
    {% if events is empty %}
        <p>Aucun événement disponible.</p>
    {% else %}
        <ul>
            {% for event in events %}
                <li>
                    <strong>{{ event.name }}</strong> - {{ event.date|date('d/m/Y') }} - Artist: {{ event.artist.name }}<br>
                    Organisé par : {{ event.creator.username }}
                    <br>
                    {% if user %}
                        {% set isParticipant = event.participants.contains(user) %}

                        <form action="{{ path(isParticipant ? 'app_unsubscribe_event' : 'app_subscribe_event', { 'eventId': event.id }) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('event_action') }}">
                            <button type="submit">
                                {{ isParticipant ? 'Se désinscrire' : 'S\'inscrire' }}
                            </button>
                        </form>
                    {% else %}
                        <p><em>Connectez-vous pour vous inscrire</em></p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
