{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.artist) }}
    <button type="submit" class="btn btn-primary">Update Event</button>
    {{ form_end(form) }}
{% endblock %}
