{% extends 'base.html.twig' %}

{% block title %}Modifier un artiste{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/artisteModif.css') }}">
{% endblock %}

{% block body %}
    <div id="artiste-creation-page">
        <h1>Modifier un artiste : {{ artist.name }}</h1>

        <form method="post" enctype="multipart/form-data">
            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image) }}
            {{ form_end(form) }}
        </form>

        <button><a href="{{ path('app_artists') }}" class="btn btn-secondary mt-3">Retour à la liste des artistes</a></button>
    </div>
{% endblock %}
